<style type="text/css">
	
#footer{
 	
 	margin: 0;
 	padding: 0;
 	display: block;
 	color: #fff;
    background: #155;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 100%;
    margin-top: -20px;
    font-size: 8pt;
    font-weight: bold;
}

</style>
<div id="footer"> Copyright (c) 2018 Stashek Inc. </div>   