<div id="spree-header" style="background: #155;">
  <header id="header" data-hook>
    <div class="container">
      <div class="row">
        <figure id="logo" class="col-md-4 col-sm-3" style="font-size: 24pt; color: white; font-weight: bold;" data-hook>
          ROR STORE
        </figure>
        <%= render partial: 'spree/shared/nav_bar' %>
      </div>
    </div>
  </header>
  <div class="container">
    <%= render partial: 'spree/shared/main_nav_bar' %>
  </div>
</div>
